body {
    background-color: #444;
}

.container-navbar {
    background-color: green;
    width: 100%;
    height: 100px;
}

.ul-navbar {
    display: flex;
    justify-content: center;
}

.li-navbar {
    border: 1px solid red;
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
}